<div id="globalElements" class="global-elements">
    <div id="mainFrame">
        <p class="inline logo fadable"><a href="{{ page.nav-link }}">RB.UX</a></p>
            <!-- Desktop menu -->
            <ul class="unstyled nav-desktop fadable hidden-s">
              <li><a href="#mainContent">Work</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="img/rb-resume-final.pdf">Resume</a></li>
            </ul>
            <!-- Mobile menu button -->
            <div class="mobile-menu-button-container hidden visible-s fadable" id="mobileMenuToggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
                <p class="hidden">Close menu</p>
            </div>
            <!-- Mobile menu -->
            <div class="mobile-menu-overlay" id="mobileMenuOverlay">
                <nav class="mobile-overlay-menu">
                    <ul>
                        <li><a href="/#mainContent">Work</a></li>
                        <li><a href="/#contact">Contact</a></li>
                        <li><a href="/img/rb-resume-final.pdf">Resume</a></li>
                    </ul>
                </nav>
                <div class="mobile-menu-footer text-center">
                    <div class="mobile-menu-social-links">
                        <p><b>Get in touch</b></p>
                        <p><a href="mailto:rbelopolsky@gmail.com">Gmail</a></p>
                        <p><a href="https://www.linkedin.com/in/rbelopolsky" target="_blank">Linkedin</a></p>
                    </div>
                    <hr class="short"/>
                    <p class="mobile-menu-copyright text-center">Copyright © Roman Belopolsky 2019.<br/>All rights reserved.</p>
                </div>
            </div>

            <p class="page-label caps fadable hidden-xs"><b>UX/UI</b> Portfolio</p>
            <p class="copyright fadable hidden-xs">Copyright © Roman Belopolsky <script>document.write(new Date().getFullYear())</script>. All rights reserved.</p>
        </div>
        <a id="scrollTopButton" class="scroll-top opacity-0" href="#"><img class="scroll-icon" src="/img/angle-down.png"/></a>
</div>
