<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head_elements.html %}


</head>
<body>
  {% include global_elements.html %}
  {{ content }}
  <br/><br/><br/>
  <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/js/sticky.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.0.2/smooth-scroll.min.js"></script>
  <script src="/js/zepto.min.js"></script>
  <script src="/js/lazyload.min.js"></script>
  <script src="/js/vanilla-scrollspy.js"></script>
  <script src="/js/fslightbox.js"></script>
  <script src="/js/custom.js"></script>
  </body>
</html>
